@media only screen and (min-width: 800px) {
    .webCard {
        display: inline;
        margin: 10px;
    }
    main {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    #proximity {
        grid-column: 3/4;
    }
}