h1  {
    margin: 5px;
}
header {
    display: grid;
    grid-template-rows: 1fr 0.5fr;
    justify-items: center;
    background-color: #ffb947;
    overflow: hidden;
    margin: 20px auto;
    max-width: 1920px;
    min-width: 250px;
}
header p {
    margin: 5px;
}
main {
    max-width: 1920px;
    overflow: hidden;
    margin: 0 auto;
    min-width: 250px;
}
.webCard {
    display: block;
    margin: 45px 0;
    text-align: center;
    border: 1px solid rgb(3, 4, 94, 0.65);
    border-radius: 8px 8px 0 0;
    overflow: hidden;
}
.webCard img {
    max-width: 100%;
    margin: 0 auto;
}
.webCard h2 {
    margin: 0 0 5px 0;
    background-color: #ffb947;

}
.webCard p {
    margin: 5px 0 10px 0;
}
footer {
    display: grid;
    grid-template-rows: 1fr 0.5fr;
    justify-items: center;
    background-color: #ffb947;
    max-width: 1920px;
    overflow: hidden;
    margin: 0 auto 0 auto;
    min-width: 250px;
}

/*
img {
    height: 200px;
    margin: 20px 0 20px 20px;
    border-radius: 6px;
}

h1 {
    font-size: 4em;
    margin: 0;
    color: #03045e;
    text-align: center;
}



main h2 {
    margin: 0 20px;
    border-bottom: 1px solid #03045e;
    font-size: 2.5em;
    color: #023e8a;
}

main ul {
    margin: 20px 20px;
}

main ul li {
    font-size: 1.2em ;
    margin: 2px 0;
}

main ul li a {
    margin-left: 5px;
}

main p {
    border-top: 1px solid #03045e;
    margin: 0 20px;
}



#line1 {
    color: #03045e;
    font-size: 1.4em;
    margin: 10px;
}

#line2 {
    color: #662200;
    font-size: 1.2em;
    margin: 0;
}*/