body {
    font-family: 'Roboto Slab', serif;
}
header {
    background-color: #004b23;
    color: #ccff33;
    font-family: 'Merriweather', serif;
    font-size: 1em;
    min-width: 375px;
}
#firstLine {
    display: grid;
    grid-template-columns: 1.4fr 3.6fr 2fr 1fr;
    align-items: center;
    justify-items: center;
}

#firstLine img {
    width: 60px;
    margin-left: 0px;
}
#social img {
    width: 20px;
    height: 20px;
}
header div div h1 {
    font-size: 1.3em;
    margin: 0 0 5px 5px;
}
header div div h2 {
    font-size: 1em;
    margin: 0 0 0 5px;
}

header div nav {
    text-align: center;
    font-size: 1.5em;
}

#firstLine nav ul {
    padding: 0;
}

#firstLine nav ul li a {
    text-decoration: none;
    color: #ccff33;
}

#hamburgerContainer img {
    width: 20px;
    height: 20px;
}


main {
    display: block;
}

main div, main div div  {
    border: 2px solid black;
    height: 200px;
    margin-bottom: 10px;
}

#spotlite {
    height: 418px;
}

header div nav ul li:first-child {
    display: block;
}

#menuid {
    color: #006400;
    display: grid;
    grid-template-rows: auto;
    justify-items: center;
    align-items: center;
    margin: 10px 0 0 0;
}
#menuid p {
    margin: 0;
    padding: 8px 0;
    width: 100%;
    text-align: center;
    background-color: #9ef01a;
    color: #006400;
    font-family: 'Merriweather', serif;
    font-size: 1.03em;
}

#menuid p:hover {
    background-color: #006400;
    color: #ccff33;
}

.menuHidden {
    display: none;
}

#timeDiv {
    text-align: center;
    padding: 7px;
    background-color: #006400;
}