body {
    font-family: 'Roboto Slab', serif;
}
header {
    display: grid;
    grid-template-columns: 1fr 4fr 2fr 1fr;
    align-items: center;
    background-color: #004b23;
    color: #ccff33;
    font-family: 'Merriweather', serif;
    font-size: 1em;
}

header img {
    width: 60px;
}
header div img {
    width: 20px;
    height: 20px;
}
header div h1 {
    font-size: 1.3em;
    margin: 5px 0 5px 5px;
}
header div h2 {
    font-size: 1em;
    margin: 0 0 0 5px;
}

header nav {
    text-align: center;
    font-size: 1.5em;
}
header nav ul li a {
    text-decoration: none;
    color: #ccff33;
}
main {
    display: block;
}

main div, main div div  {
    border: 2px solid black;
    height: 200px;
    margin-bottom: 10px;
}

#spotlite {
    height: 418px;
}

header nav ul li:first-child {
    display: block;
    padding: 0.5rem 0;
}

#menuid {
    color: #006400;
    display: grid;
    grid-template-rows: auto;
    justify-items: center;
    align-items: center;
}
#menuid p {
    margin: 0;
    padding: 8px 0;
    width: 100%;
    text-align: center;
    background-color: #9ef01a;
    color: #006400;
    font-family: 'Merriweather', serif;
}

#menuid p:hover {
    background-color: #006400;
    color: #ccff33;
}

.menuHidden {
    display: none;
}