body {
    font-family: 'Roboto Slab', serif;
    max-width: 1800px;
    margin: 0 auto;
}

#firstlineImg {
    grid-area: firstlineImg;
    margin: 5px;
}
#titlesDiv {
    grid-area: titlesDiv;
}
#social {
    grid-area: social;
}
#hamburgerNav {
    grid-area: hamburgerNav;
}
#timeDiv {
    grid-area: timeDiv;
}
#menuid {
    grid-area: menuid;
}

header {
    display: grid;
    grid-template-columns: 0.8fr 3.6fr 2fr 1fr;
    align-items: center;
    justify-items: center;
    grid-template-rows: auto;
    grid-template-areas: 
    "firstlineImg titlesDiv social hamburgerNav"
    "timeDiv timeDiv timeDiv timeDiv"
    "menuid menuid menuid menuid";
    background-color: #004b23;
    color: #ccff33;
    font-family: 'Merriweather', serif;
    font-size: 1em;
    min-width: 375px;
}

header img {
    width: 60px;
    margin-left: 0px;
}

#titlesDiv {
    justify-self: left;
    padding-left: 3%;
}
#social img {
    width: 20px;
    height: 20px;
}
#titlesDiv h1 {
    font-size: 1.3em;
    margin: 0 0 5px 5px;
}
#titlesDiv h2 {
    font-size: 1em;
    margin: 0 0 0 5px;
}

#hamburgerNav {
    text-align: center;
    font-size: 1.5em;
}

#timeDiv {
    justify-self: normal;
}

#menuid {
    justify-self: normal;
}
header nav ul {
    padding: 0;
    list-style-type: none;

}

header nav ul li a {
    text-decoration: none;
    color: #ccff33;
}

#hamburgerContainer img {
    width: 20px;
    height: 20px;
}


main {
    display: block;
}

main div, main h2 {
    min-width: 371px;
}

main div p {
    margin: 5px 0;
}

main div h2 {
    margin: 5px 0;
}

main div, main div div  {
    border: 2px solid black;
    height: 200px;
}

#weather {
    text-align: center;
}

#spotlight {
    height: 418px;
}

/*header div nav ul li:first-child {
   display: block;
}*/

#menuid {
    color: #006400;
    align-items: center;
    margin: 10px 0 0 0;
    background-color: #9ef01a;
}
#menuid ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

#menuid ul li a {
    display: block;
    text-decoration: none;
    margin: 2px;
    background-color: #9ef01a;
    color: #006400;
    transition: 0.5s;
    
}

#menuid ul li a:hover {
    /*background-color: #006400;*/
    background-color: #006400;
    color: #9ef01a;
    padding: 0 1rem;
}

.menuHidden, #spotlight3 {
    display: none;
}

#timeDiv {
    text-align: center;
    padding: 7px;
    background-color: #006400;
}

#join {
    display: none;
}

footer {
    background-color: #004b23;
    color: #ccff33;
    min-width: 375px;
}

#footerGeneral {
    text-align: center;
}

#footerLogo {
    width: 120px;
    margin: 5px auto;
}
#footerTitle {
    font-size: 1.3em;
}
#footerGeneral div {
    text-align: center;
}
#footerAddress {
    font-size: 0.9em;
    width: 40%;
    display: block;
    margin: 5px auto;  
}
footer a {
    font-size: 0.9em;
    text-decoration: none;
    color: #ccff33;
    margin: 8px;
    display: block;
}

#footerPersonal {
    border-top: 1px solid #ccff33;
    padding: 10px;
    margin: 0 10px;
}

#footerPersonal * {
    margin: 5px 0;
    text-align: center;
    font-size: 0.8em;
}

#footerName {
    font-size: 1.1em;
}

#directoryTitle {
    text-align: center;
}
#cardsView {
    height: auto;
    text-align: center;
    border: 0;
}

#cardsView button {
    margin: 10px;
}

#cardsView button img {
    width: 50px;
}

.displayCards {
    text-align: center;
    padding: 10px;
    /*border: 2px solid black;*/
    height: 100%;

}

.displayList {
    text-align: start;
    height: 100%;

}

.displayCards section {
    padding: 0.7em 0;
    box-shadow: 2px 2px 3px 0 #004b23;
    margin: 10px;
}

.displayList section {
    margin: 0 10px;
}

.displayList section {
    padding: 10px 10px;
}



.displayList section:nth-child(odd) {
    background-color:  #e6ff99;
}

.displayCards section:hover {
    box-shadow: -2px -2px 3px 0 #004b23;
    padding: 4px;
}

.displayList section:hover {
    background-color: #ccff33;
}

.displayCards section img {
    max-width: 70%;
    max-height: 120px;
}

.displayList section img {
    display: none;
}

#hero {
    overflow: hidden;
}

#hero picture {
    text-align: center;
}

#hero picture img {
   max-width: 130%;
   min-height: 100%;
}
