body {
    font-family: 'Roboto Slab', serif;
}
header {
    background-color: #004b23;
    color: #ccff33;
    font-family: 'Merriweather', serif;
    font-size: 1em;
    min-width: 375px;
}
#firstLine {
    display: grid;
    grid-template-columns: 0.8fr 3.6fr 2fr 1fr;
    align-items: center;
    justify-items: center;
}

#firstLine img {
    width: 60px;
    margin-left: 0px;
}

#titlesDiv {
    justify-self: left;
    padding-left: 3%;
}
#social img {
    width: 20px;
    height: 20px;
}
header div div h1 {
    font-size: 1.3em;
    margin: 0 0 5px 5px;
}
header div div h2 {
    font-size: 1em;
    margin: 0 0 0 5px;
}

header div nav {
    text-align: center;
    font-size: 1.5em;
}

#firstLine nav ul {
    padding: 0;
    list-style-type: none;

}

#firstLine nav ul li a {
    text-decoration: none;
    color: #ccff33;
}

#hamburgerContainer img {
    width: 20px;
    height: 20px;
}


main {
    display: block;
}

main div {
    min-width: 371px;
}

main div, main div div  {
    border: 2px solid black;
    height: 200px;
}

#spotlight {
    height: 418px;
}

/*header div nav ul li:first-child {
   display: block;
}*/

#menuid {
    color: #006400;
    align-items: center;
    margin: 10px 0 0 0;
    background-color: #9ef01a;
}
#menuid ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

#menuid ul li a {
    display: block;
    text-decoration: none;
    margin: 2px;
    background-color: #9ef01a;
    color: #006400;
    transition: 0.5s;
    
}

#menuid ul li a:hover {
    /*background-color: #006400;*/
    background-color: #006400;
    color: #9ef01a;
    padding: 0 1rem;
    
}

.menuHidden, #spotlight3 {
    display: none;
}

#timeDiv {
    text-align: center;
    padding: 7px;
    background-color: #006400;
}

#join {
    display: none;
}