
table   {
    font-family:'Ubuntu', sans-serif;
    font-size: 1.5em;
    width: 100%;
    min-width: 320px;
    border: 3px solid #004b23;
    margin: 20px auto;
}

tbody tr:nth-child(odd) td {
    background-color:  #adff5c;
}

tbody tr:nth-child(odd) td:hover {
    background-color:  #38b000;
}
  
tbody tr:nth-child(even) td {
    background-color: #d6ff5c;
}

tbody tr:nth-child(even) td:hover {
    background-color: #70e000;
}

thead tr:nth-child(1) {
      background-color:  #006400;
      color: #cf3;
      font-size: 1.8em;
}

thead tr:nth-child(2) {
    background-color:  #004b23;
    color: #9ef01a;
}

#spancell {
    color:  #9ef01a;
    background-color: #006400;
}

#spancell:hover {
    color:  black;
    background-color: #70e000;

}

#blackFriday {
    font-style: italic;
}

td, th {
    text-align: center;
    padding: 8px 0;
}

tfoot {
    background-color:  #006400;
    color: #cf3;
    font-size: 0.7em;
    }

@media only screen and (min-width: 500px) {
    table {
        width: 500px;
        box-shadow: 6px 6px 10px #38b000 ;
    }
}