
table   {
    font-family:'Ubuntu', sans-serif;
    font-size: 1.5em;
    width: 100%;
    min-width: 320px;
    border: 3px solid #004b23;
    margin: 30px auto;
}

tr:nth-child(odd) td {
    background-color:  #e7f0ed;
  }
  
  tr:nth-child(even) td {
    background-color: #e7ffed;
  }

  thead tr:nth-child(1) {
      background-color:  #006400;
      color: #cf3;
      font-size: 1.8em;
  }

  thead tr:nth-child(2) {
    background-color:  #004b23;
    color: #9ef01a;
}

#important {
    color:  #9ef01a;
    background-color: #006400;
}

td, th {
    text-align: center;
    padding: 8px 0;
}

tfoot tr td {
    font-size: 0.8em;
}

@media only screen and (min-width: 500px) {
    table {
        width: 500px;
        box-shadow: 6px 6px 10px #38b000 ;
    }
}